# pylint configuration
[MASTER]
jobs=4
limit-inference-results=100
persistent=yes

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    too-few-public-methods,

[REPORTS]
output-format=colorized

[VARIABLES]
ignored-argument-names=_.*|^ignored_|^unused_

[DESIGN]
max-args=6
max-attributes=7
max-bool-expr=5
